<!DOCTYPE html>
{% load svarmeh_tags %}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{% chunk "Название сайта" %}{% if title %} - {{ title }}{% endif %}</title>

        <link rel="stylesheet" href="{{ STATIC_URL }}constant.css" type="text/css">
        <link rel="stylesheet" href="{{ STATIC_URL }}template.css" type="text/css">
        <link rel="stylesheet" href="{{ STATIC_URL }}superfish.css" type="text/css">

    </head>

    <body>
        <div class="main">
            <div class="header">
                <h1 id="logo"><a href="/"><img src="{{ STATIC_URL }}images/logo.png" /></a></h1>
                {% main_menu %}
                <div id="contacts">
                    <div class="phone">Телефон: <span>{% chunk "Телефон" %}</span></div>
                    <div class="email">Почта: <a href="mailto:{% chunk "Почта" %}">{% chunk "Почта" %}</a></div>
                    <div class="skype">Skype: <a href="skype:{% chunk "Skype" %}">{% chunk "Skype" %}</a></div>
                </div>
            </div>

            {% block content %}{% endblock %}

        </div>
        <div class="footer">
            <div class="foot">
                <div class="copy">{% chunk "Название сайта" %}  © {% now "Y" %}</div>
            </div>
        </div>

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}superfish.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $("ul.sf-menu").superfish({hoverClass:'sfHover', pathClass:'active', pathLevels:0, delay:300, animation:{height:'show'}, speed:'def', autoArrows:1, dropShadows:1});
            });
        </script>
        {% block extra_script %}{% endblock %}
    </body>
</html>
