{% extends "base.html" %}
{% load thumbnail %}

{% block extra_script %}
        <script type="text/javascript" src="{{ STATIC_URL }}slider.js"></script>
{% endblock %}

{% block content %}
    <div class="slider-block">
        {% for project in projects %}
            {% thumbnail project.image "426x340" crop="center" as im %}
            <div class="slide">
                <a href="{{ project.get_absolute_url }}" class="image-link"><img src="{{ MEDIA_URL }}{{ im }}" alt="{{ project }}" /></a>
                <span class=nivo-title>
                    <span class=t1>{{ project }}</span><br>
                    <span class=t2></span><br>
                    {{ project.intro|safe }}
                </span><br>
                <a href="{{ project.get_absolute_url }}" class=link_1>Подробнее</a>
                <div class="clear"></div>
            </div>
            {% endthumbnail %}
        {% endfor %}
    </div>

    <div class="wrapper-content content-top ">
        <div class="cont_pad">
            <div id="left">
                <div class="module-whatdoing">
                    <h3>Продукция</h3>
                    <ul class="menu-whatdoing">
                        {% for project in projects %}
                            <li><a href="{{ project.get_absolute_url }}"><span>{{ project }}</span></a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div id="content">
                <h3>О нас</h3>
                {{ page.body|safe }}
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
{% endblock %}
