<div class="navigation">
    <ul class="menu sf-menu">
        <li class="first-child {% if path == "/" %}active{%endif %}"><a href="/"><span>Главная</span></a></li>
        <li class="parent {% if in_products %}active{% endif %}">
            <a href="{% url product_list %}" class="sf-with-ul"><span>Продукция</span></a>
            <ul style="display: none;">
                {% for product in products %}
                <li class="{% if forloop.first %}first-child{% endif %}{% if forloop.last %}last-child{% endif %}{% if path == product.url %} active{% endif %}">
                    <a href="{{ product.get_absolute_url }}"><span>{{ product }}</span></a>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% for page in pages %}
        <li class="{% if forloop.last %}last-child{% endif %}{% if path == page.url %} active{% endif %}"><a href="{{ page.get_absolute_url }}"><span>{{ page }}</span></a></li>
        {% endfor %}
    </ul>
</div>
